---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/rtgta.jpg';
---

<Layout
	title="Chi sono"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 11 1948')}
	heroImage={AboutHeroImage}
>
	<p>
		Ciao, sono Luca, una persona un po’ diversa dal solito. Fin da bambino ho sempre sentito il mondo in modo unico, come se potessi vedere e percepire cose che gli altri non notano. Nel corso degli anni ho scoperto di avere capacità paranormali, doni che mi permettono di percepire emozioni, presenze e energie invisibili agli occhi comuni.

Attraverso questo blog, voglio condividere con te questo mio punto di vista speciale sul mondo. Qui troverai riflessioni, esperienze e storie legate al mistero, all’intuizione e alle energie che ci circondano, quelle che spesso sfuggono alla nostra razionalità quotidiana.

Sono una persona molto empatica: riesco a sentire le emozioni delle persone come se fossero mie, e spesso questo mi aiuta a capire più a fondo ciò che ci unisce tutti. Ma il mio percorso non è sempre semplice: percepire ciò che è nascosto comporta anche la responsabilità di affrontare paure e inquietudini, e a volte anche di portare dentro di me emozioni difficili da gestire.

Grazie alle mie capacità, ho avuto visioni e intuizioni che mi hanno permesso di esplorare la realtà sotto una luce diversa, scoprendo un mondo fatto di energia, spiriti e segnali nascosti. Questo blog è il mio spazio per raccontare queste esperienze, con la speranza di aprire nuove porte nella tua mente e nel tuo cuore.

Se sei curioso di scoprire cosa si cela oltre la realtà visibile e vuoi esplorare con me questo affascinante universo, sei nel posto giusto. Benvenuto nel mio viaggio tra luce e ombra, razionalità e mistero.
	</p>

	