---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
<hr class="linea1" />
	<hr class="linea2" />
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			
				
				<a href="https://www.youtube.com/@renatotelefono" target="_blank">
  <span class="sr-only">Follow RenatoTelefono on YouTube</span>
  <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
    <path
      fill="currentColor"
      d="M19.615 3.184a3.01 3.01 0 0 0-2.12-2.12C15.72.5 12 .5 12 .5s-3.72 0-5.494.564a3.01 3.01 0 0 0-2.12 2.12C3.82 4.96 3.82 8 3.82 8s0 3.04.566 4.816a3.01 3.01 0 0 0 2.12 2.12C8.28 15.5 12 15.5 12 15.5s3.72 0 5.494-.564a3.01 3.01 0 0 0 2.12-2.12C20.18 11.04 20.18 8 20.18 8s0-3.04-.566-4.816ZM9.75 11.25V4.75L15.5 8l-5.75 3.25Z"
    />
  </svg>
</a>

			</a>
			<a href="https://twitter.com/renatotelefono" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316 l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
						
					></path></svg
				>
			</a>
			<a href="https://www.instagram.com/renatotelefono" target="_blank">
  				<span class="sr-only">Go to Instagram profile</span>
  				<svg viewBox="0 0 24 24" width="32" height="32" aria-hidden="true" fill="currentColor">
    			<path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 1.5A4.25 4.25 0 0 0 3.5 7.75v8.5A4.25 4.25 0 0 0 7.75 20.5h8.5A4.25 4.25 0 0 0 20.5 16.25v-8.5A4.25 4.25 0 0 0 16.25 3.5h-8.5zm4.25 3.25a5.25 5.25 0 1 1 0 10.5a5.25 5.25 0 0 1 0-10.5zm0 1.5a3.75 3.75 0 1 0 0 7.5a3.75 3.75 0 0 0 0-7.5zm5.25-.88a1 1 0 1 1 0 2a1 1 0 0 1 0-2z"/>
  				</svg>
			</a>

		</div>
	</nav>

	<hr class="linea1" />
	<hr class="linea2" />
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
